.text {
  color: #111827;
}

.xs {
  font-size: 0.75rem;
}

.sm {
  font-size: 0.875rem;
}

.md {
  font-size: 1rem;
}

.lg {
  font-size: 1.125rem;
}

.xl {
  font-size: 1.25rem;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.muted {
  color: #6b7280;
}
