.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
